<%- include('partials/header') %>

<div class="text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Here are the posts!</h1>
    
    <% posts.forEach(post => {%>
      <h3 class="secret-text"><%= post.title %></h3>
      <p1><%= post.body.slice(0,20) %>...<a href="/posts/<%=post.id %>">Read More</a></p1>
    <% }); %>
    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Post</a>
  </div>
</div>

<%- include('partials/footer') %>
